$primary_color: #0097A7;
$secondary_color: #004F7F;

$dark-grey: #dee0e9;
$charcoal: #a9a9a9;
$black: #000000;

// new colors
$primary: #052DFF;
$primary-hover: #0C2EC9;
$secondary: #515973;
$main: #0A1333;
$divider: #E9EBF3;
$error: #ED5052;
$background: #FAFBFF;
$success: #20DDAD;
$alert: #FEC754;
$white: #FFFFFF;
$danger: #dc3545;
$danger-hover: #c82333;

// social colors
$linkedin-color: #0077B5;
$facebook-color: #3B5998;
$twitter-color: #38A1F3;
$google-color: #4285F4;
