$phone: '(max-width: 480px)';
$tablet: '(min-width: 481px) and (max-width: 991px)';
$desktop: '(min-width: 992px)';
$computer: '(min-width: 481px)'; /* for tablets and desktop */
$portable: '(max-width: 991px)'; /* for tablets and phone */

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}


