.btw-task-detail-header{
    padding: 19px 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $divider;
    box-sizing: border-box;
    border-radius: 3px;

    &.completed-header {
        color: $white;
        background: linear-gradient(267.51deg, rgba($primary_color, 0.5) 0.26%, rgba($primary_color, 0.8) 98.82%);
    }

    .status-text { 
        display: flex;
        flex-direction: row;
        align-items: center;

        .status-title{
            margin-left: 5px;
        }
    }

    .status-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .medal-icon {
            margin: 0 5px;
        }
    }

    .completed-text{
        color: $white !important;
    }
}