.bcd-chart-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8px;
    
    .title-content {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        padding: 25px 25px 0 25px;

        .chart-title{
            padding-left: 8px;
            color: $secondary;
        }

        @include respond-to($phone) {
            padding: 7px 24px;
            border-bottom: 1px solid $divider;
            border-radius: 3px;
            width: 100%;
        }
    }

    .date-content{
        padding: 25px 25px 0 25px;

        .date-item{
            display: flex;
            align-items: baseline;

            .date-sign{
                width: 8px;
                height: 8px;
                margin-right: 8px;
                background-color: rgba($primary, 0.35);
            }

            .main-sign{
                background-color: $primary;
            }

            .fa-sort-desc{
                color: $secondary;
                padding-left: 5px;
            }
        }

        @include respond-to($phone) {
            padding-top: 0;
            display: flex;
            justify-content: space-between;
            flex-direction:row-reverse;
            width: 100%;
        }
    }

    @include respond-to($phone) {
        flex-direction: column;
    }
}