.bsn-file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $divider;
    padding-bottom: 12px;
    margin-bottom: 12px;

    .file-info {
        display: flex;
        align-items: center;

        .file-name{
            padding-left: 8px;
        }
    }

    .remove-button {
        cursor: pointer;
    }
}