.btw-district-item {
    display: flex;
    align-items: center;
    padding: 24px 10px;
    margin-bottom: 8px;
    border: 1px solid $divider;
    border-radius: 5px;
    box-sizing: border-box;

    @include respond-to($phone) {
        padding: 18px 10px; 
    }

    &:hover {
        cursor: pointer;
        border: 1px solid $primary;
    }

    .district-name {
        @include respond-to($phone) {
            font-size: 10px;
        }
    }

    &:last-child{
        margin-bottom: 0;
    }
}

.district-item-select {
    border: 1px solid $primary;
    background-color: rgba($primary, 0.05);
}