.btw-voter-detail-info {
	align-items: center;
	justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 24px;
    
    .comments-content{
        width: 100%;

        .title{
            margin: 21px 0;
        }
    }

    @include respond-to($phone) {
        box-shadow: unset;
        background-color: unset;
        padding: 32px 0;
    }
}
