@import '../../styles/base.scss';

.btw-social-button {
  height: 40px;
  border-radius: 3px;
  border: 1px solid $divider;
  display: flex;
  align-items: center;
  cursor: pointer;

  @extend .btw-social-width;

  .icon {
    padding-right: 17px;
  }
}