.btw-error {
    width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 10vh;

    div {
        border: 1px solid red;
        padding: 30px;
    }

    img {
        margin-bottom: 40px;
    }
}